<div id="produtos-corpo">
  <div class="cardsContainer">
    <mat-form-field>
      <mat-label>Login</mat-label>
      <input matInput [(ngModel)]="usuario.nome">
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Senha</mat-label>
      <input id="senha" [(ngModel)]="usuario.senha" matInput [type]="hide ? 'password' : 'text'">
      <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
    </mat-form-field>
    <br>
    <button mat-raised-button color="primary" (click)="verificarLogin()" >Verificar Login</button>
  </div>
</div>
