<div class="corpoHeader">
  <mat-toolbar>
    <!--    Todo: Routing for main page  -->
    <a href="#">
      <img  src="../../../assets/logotipo-do-milho-dourado-by-Vexels.svg" alt="Logo em forma de milho">
    </a>

    <!--Menu-->
    <button mat-button [matMenuTriggerFor]="menuPrincipal">
      <mat-icon>menu</mat-icon>
      Menu
    </button>
    <mat-menu id="menuPrincipal" #menuPrincipal="matMenu">
      <button mat-menu-item>
        <mat-icon>restaurant_menu</mat-icon>
        Cardapio
      </button>
      <button mat-menu-item>
        <mat-icon>contact_mail</mat-icon>
        Contato
      </button>
    </mat-menu>

    <!--Search bar-->
    <mat-form-field>
      <input matInput placeholder="Procure o produto!">
    </mat-form-field>

    <!--Login-->
    <button mat-button  [matMenuTriggerFor]="menuUsuario">
      <mat-icon id="iconeUsuario">person_outline</mat-icon>
      Usuario
    </button>
    <mat-menu #menuUsuario="matMenu">
    </mat-menu>

    <!--Carrinho-->
    <button mat-button>
      <mat-icon>shopping_cart</mat-icon>
      Carrinho
    </button>
  </mat-toolbar>
</div>
