mat-toolbar{
  background-color: darkgrey;
  color: whitesmoke;
}


img {
  width: 64px;
  background-color: rgba(235,255,109,0.35);
  border-radius: 45%;
  margin-right: 10px;
}



mat-form-field{
  width: 50vw;
  margin-right: 7.5rem;
  margin-left: 1rem;
}


