/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/theming';
@include mat-core();
html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label,
.mat-form-field-can-float .mat-input-server:focus + .mat-form-field-label-wrapper .mat-form-field-label {
  transform: translateY(-1em) scale(0.75) !important; /* originally scale(0.75) */
}



$mat-primary-scheme: (
  100: #dee93a,
  500: #dfbb26,
  700: #d3be61,
  contrast: (
    100: rgba(0, 0, 0, 0.87),
    500: #fff,
    700: #ffffff,
  )
);
$mat-accent-scheme: (
  100: #fbdf70,
  500: #e9c94b,
  700: #dba902,
  contrast: (
    100: rgba(0, 0, 0, 0.87),
    500: rgba(0, 0, 0, 0.87),
    700: #ffffff,
  )
);
$mat-primary-palette: mat-palette($mat-primary-scheme);
$mat-accent-palette: mat-palette($mat-accent-scheme);

$app-light-theme: mat-light-theme($mat-primary-palette, $mat-accent-palette);

@include angular-material-theme($app-light-theme);

// following section is for dark mode.
// use appropriate class name for darkMode
$app-dark-theme: mat-dark-theme($mat-primary-palette, $mat-accent-palette);
.darkMode {
  @include angular-material-theme($app-dark-theme);
}

