.corpo{
  background-image: url(../../../assets/backgroundImagePamonha.jpg);
  filter: blur(2px);
  -webkit-filter: blur(2px);
  background-size: cover;
  background-position: center center;
  height: 100%;
}
